@use "./partials/_variables.scss" as *;

@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
    color: white;
    background-color: black;
    border-radius: 4px;
    font-size: 0.7rem;
    height: 1.8rem;
    padding: 0.2rem;
}

.swiper-button-prev::after {
    color: white;
    background-color: black;
    border-radius: 4px;
    font-size: 0.7rem;
}

.swiper-button-next::after {
    color: white;
    background-color: black;
    border-radius: 4px;
    font-size: 0.7rem;
}


.swiper-pagination-bullet {
    display: none
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
}